body {
  background-color: lightgray;
}

#logo {
  border-radius: 100%;
  height: 75px;
  width: 75px;
}

a:hover {
  font-size: x-large;
  color: firebrick;
  margin: 10px;
}

header>img {
  border-radius: 100%;
  height: 75px;
  width: 75px;
}

nav {
  position: absolute;
  right: 20px;
  top: 30px;
}

a {
  margin: 5px;
}

h1{text-align: center;
padding-top: 65px;
color: rgb(61, 61, 126);}

main>img {border-radius: 15%;}